/* From Uiverse.io by vaibhavchandranv */ 
.buttonGit {
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  background: #000000;
  color: #ffffff;
  border: none;
  padding: .5rem;
  border-radius: 100px;
  transition: all 0.5s ease;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.buttonGit:hover {
  scale: 1.1;
}

.buttonGit:active {
  scale: 1;
}

.buttonGit:hover .icon {
  fill: #ffff00;
  scale: 1.1;
  rotate: 360deg;
  filter: drop-shadow(0 0 5px rgba(255, 208, 0, 0.8))
    drop-shadow(0 0 10px rgba(255, 208, 0, 0.6));
}

.buttonGit:hover .text {
  font-size: 20px;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.2))
    drop-shadow(0 0 10px rgba(255, 255, 255, 0.4));
}

.text {
  transition: all 1s ease;
}

.icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: -3px;
  transition: all 1s ease;
}
